<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="background-color: #6262e1 !important;">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" >
                E-commerce App
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">Home</a>
                </li>
                @if(loggedUserData.custId != 0){
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/my-order']">My Orders</a>
                </li>
                }
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle redHover fw-semibold text-uppercase text-black  me-1" href="#"
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user fs-5 me-1" style="color: #202122;"></i>
                    </a>
                    <ul class="dropdown-menu" style="left:-50px" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="d-flex justify-content-evenly mt-2">
                                <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                    aria-controls="offcanvasRight"> <button
                                        class="btn btn-danger rounded-0 px-3">Login</button></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> <button
                                        class="btn btn-danger rounded-0 px-3">Register</button></a>
                            </div>

                        </li>

                    </ul>
                </li> -->
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">

            @if(loggedUserData.custId == 0){
            <button class="btn btn-success btn-sm" (click)="openLoginModal()">
                Login
            </button>
            <button class="btn btn-success btn-sm mx-2" (click)="openRegisterModal()">
                Register
            </button>
            }@else{
            <button class="btn btn-success btn-sm">
                {{loggedUserData.name}}
            </button>
            <button class="btn btn-warning btn-sm mx-2" (click)="logOut()">
                Log Out
            </button>

            <!-- Icon -->
            <a class="link-secondary me-3">
                <i class="fa fa-shopping-cart text-white" (click)="showCartPopup()"></i>
            </a>

            }


            
            <div [className]="isCartPopupOpen ? 'dropdown-menu dropdown-menu-end show' : 'dropdown-menu dropdown-menu-end hide' "
                style="position: absolute;
          right: 13px;top:60px" aria-labelledby="navbarDropdownMenuAvatar">
                <div class="row">
                    <div class="col-8">
                        <h6>Cart Items</h6>
                    </div>
                    <div class="col-4 text-end">
                        <i class="fa fa-close p-2" (click)="showCartPopup()"></i>
                    </div>
                </div>

                @if(cartData.length >0){
                <table class="table table-sm">
                    <tbody>

                        @for(cartItem of cartData; track $index){
                        <tr>
                            <td>
                                <div class="rounded"
                                    style="background-image: url({{cartItem.productImageUrl}}); width: 60px; height: 60px; background-size: cover;">
                                </div>
                            </td>
                            <td class="align-middle text-left">{{cartItem.productName}}</td>
                            <td class="align-middle text-center">{{cartItem.quantity}} pieces</td>
                            <td class="align-middle text-right">₹ {{cartItem.productPrice}}</td>
                            <td class="align-middle text-center">
                                <a (click)="deleteCartProduct(cartItem.cartId)" data-toggle="modal"
                                    data-title="Delete your product ?">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        }

                        <tr>
                            <td colspan="4" class="align-middle text-right">Quantity</td>
                            <td class="align-middle text-right">{{totalQuantity}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="align-middle text-right">Total</td>
                            <td class="align-middle text-right">{{totalAmount}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-12 text-end">
                        <button class="btn btn-primary btn-sm" (click)="isCartPopupOpen=false"
                            [routerLink]="['/create-order']">Checkout</button>
                    </div>
                </div>
            }@else {
                <div>
                    Cart item not found
                </div>
            }
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<!-- The Login Modal -->
<div class="modal" id="myModal" #loginModal>
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeLoginModal()"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Mobile No</label>
                        <input type="text" class="form-control" [(ngModel)]="loginObj.UserName">
                    </div>
                    <div class="col-12">
                        <label for="">Password</label>
                        <input type="password" class="form-control" [(ngModel)]="loginObj.UserPassword">
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="closeLoginModal()">Close</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onLogin()">Login</button>
            </div>

        </div>
    </div>
</div>


<!-- The Register Modal -->
<div class="modal" id="myModal" #registerModal>
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Register</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeRegisterModal()"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="registerObj.name">
                    </div>
                    <div class="col-12">
                        <label for="">Mobile No</label>
                        <input type="text" class="form-control" [(ngModel)]="registerObj.MobileNo">
                    </div>
                    <div class="col-12">
                        <label for="">Password</label>
                        <input type="password" class="form-control" [(ngModel)]="registerObj.Password">
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="closeRegisterModal()">Close</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="onRegister()">Register</button>
            </div>

        </div>
    </div>
</div>